
.background{
	background:linear-gradient(120deg, #FFCB32, #FF4A3B);
	
}
#generate{
	width: 80%;
	font-size: 50px;
}
#hidden{
	display: none;
	width: 100%
}
.ex-text{
	font-size: 30px;
}
.round-border{
	padding: 15px;
	border: 2px solid black;
	border-radius: 20px;
}
.amount-but{
	border: solid 2px black;
	font-size: 13px;
	width: 40px;
	text-align: center;
}
.btn{
	transition: 1s;
}
.btn:hover{
	background-color: rgba(255, 187, 51, 0.3);
	transition: 1s;
}
.btn-success{
	transition: 0.5s ease-in;
}
.btn-success:hover{
	transition:0.5s;
}

.sidebar{
	position: fixed;
	background-color: #eee;
	width: 40%;
	height: 100vh;
	z-index: 5;
	top: 0;
	overflow: scroll;
	background:linear-gradient(180deg, #43D29D, #9FFFBF);
}
#exit_btn{
	width: 100px;
	height: 20px;
	background-color: #FFCB32;
}
.sidebar-small{
	width: 10%;
}
#percentage{
	font-size: 40px;
	color: green;
	border: 3px solid green;
	border-radius: 100px;
	width: 30px;
}